/data

__pycache__/panorama.cpython-35.pyc
data1
myplot.png
octave-workspace
cylinder1.jpg
cylinder2.jpg
aapap/bamdlt/ceresNonrigidError.mex
aapap/bamdlt/ceresNonrigidError.o
aapap/bamdlt/ceresRigidError.mex
aapap/bamdlt/ceresRigidError.o
aapap/bamdlt/images/glenelg/result1.jpg
aapap/bamdlt/images/glenelg/sphere1.jpg
aapap/bamdlt/images/glenelg/sphere1_result.jpg
aapap/bamdlt/images/tmp/1.JPG
aapap/bamdlt/images/tmp/1.sphere.jpg
aapap/mdlt/images/bresult1.jpg
aapap/mdlt/images/bresult2.jpg
aapap/mdlt/images/crop.jpg
aapap/mdlt/images/result1.jpg
aapap/mdlt/images/result2.jpg
aapap/bamdlt/getBlendMask.mex
aapap/bamdlt/getBlendMask.o
aapap/bamdlt/getLocation.mex
aapap/bamdlt/imageProjection.mex
aapap/bamdlt/imageProjection.o
aapap/bamdlt/imageWarping.mex
aapap/bamdlt/imageWarping.o
aapap/bamdlt/images/glenelg/result2.jpg
aapap/bamdlt/wsvd.mex
aapap/bamdlt/wsvd.mexmaci64
aapap/bamdlt/wsvd.mexw64
aapap/bamdlt/wsvd.o
aapap/bamdlt/images/glenelg/result3.jpg
aapap/bamdlt/images/glenelg/result4.jpg
aapap/bamdlt/images/soccer/ref1.jpg
aapap/bamdlt/images/soccer/ref2.jpg
aapap/bamdlt/images/soccer/ref3.jpg
aapap/bamdlt/images/soccer/result1.jpg
aapap/bamdlt/images/soccer/result2.jpg
aapap/bamdlt/images/soccer/result3.jpg
aapap/bamdlt/images/soccer/result4.jpg
aapap/mdlt/images/case1/crop.jpg
aapap/mdlt/images/case1/result1.jpg
aapap/mdlt/images/case1/result2.jpg
aapap/mdlt/images/ref1.jpg
aapap/mdlt/images/ref2.jpg
aapap/mdlt/images/ref3.jpg
cppMatchTemp.txt
img.jpg
img_warped.jpg
img_warped_applied.jpg
my1.jpg
my2.jpg
output/ref1.jpg
output/ref2.jpg
output/ref3.jpg
output/tmp.jpg
opencvstudy/__pycache__/managers.cpython-35.pyc
opencvstudy/screenshot.avi
opencvstudy/screenshot.jpg
opencvstudy/__pycache__/filters.cpython-35.pyc
opencvstudy/__pycache__/utils.cpython-35.pyc
tensorflow/MNIST_data/t10k-images-idx3-ubyte.gz
tensorflow/MNIST_data/t10k-labels-idx1-ubyte.gz
tensorflow/MNIST_data/train-images-idx3-ubyte.gz
tensorflow/MNIST_data/train-labels-idx1-ubyte.gz
opencvstudy/3x3.jpg
opencvstudy/5x5.jpg
opencvstudy/cany.jpg
opencvstudy/hpf.jpg
contents.xcworkspacedata
test.xcscheme
