/data

__pycache__/panorama.cpython-35.pyc
data1
myplot.png
octave-workspace
cylinder1.jpg
cylinder2.jpg
aapap/bamdlt/ceresNonrigidError.mex
aapap/bamdlt/ceresNonrigidError.o
aapap/bamdlt/ceresRigidError.mex
aapap/bamdlt/ceresRigidError.o
aapap/bamdlt/images/glenelg/result1.jpg
aapap/bamdlt/images/glenelg/sphere1.jpg
aapap/bamdlt/images/glenelg/sphere1_result.jpg
aapap/bamdlt/images/tmp/1.JPG
aapap/bamdlt/images/tmp/1.sphere.jpg
aapap/mdlt/images/bresult1.jpg
aapap/mdlt/images/bresult2.jpg
aapap/mdlt/images/crop.jpg
aapap/mdlt/images/result1.jpg
aapap/mdlt/images/result2.jpg
